/* line 1, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.d_none {
  display: none;
}

/* line 5, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.switch-right-grid-desc {
  min-height: 255px;
}

/* line 10, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
#left_scroll .logo-icon {
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

/* line 19, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section {
  width: 100%;
  padding: 20px 10px;
  height: 600px;
  position: relative;
}
/* line 25, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .acount-title h2 {
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
  float: left;
  font-size: 17px;
  margin-top: 5px;
}
/* line 33, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .acount-title h3 {
  font-size: 13px;
  color: #c9c9c9;
  font-weight: 700;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
/* line 42, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile {
  width: 100%;
  padding-right: 250px;
}
/* line 45, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content {
  width: 100%;
  background-color: white;
  border: 1px solid #d7d7d7;
  height: 510px;
}
/* line 50, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image {
  width: 250px;
  background-color: #f9f9f9;
  float: left;
  height: 100%;
}
/* line 55, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image img {
  width: 250px;
  height: 220px;
}
/* line 59, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .icon-share {
  position: relative;
  margin-top: 20px;
}
/* line 62, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .icon-share button {
  float: left;
}
/* line 65, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .icon-share button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #c9c9c9;
  color: #c9c9c9;
  font-size: 8px;
  background-color: transparent;
  padding: 0px;
}
/* line 75, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .icon-share p {
  text-align: center;
  color: #c9c9c9;
  font-size: 14px;
  margin-right: 15px;
}
/* line 81, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .icon-share .left {
  float: left;
}
/* line 84, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .icon-share .right {
  width: 16px;
  height: 16px;
  float: right;
  position: absolute;
  top: 0;
  right: 25px;
  color: white;
  background-color: #666666;
  border: 1px solid transparent;
  margin-top: 2px;
}
/* line 96, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .icon-share.container-fluid {
  padding: 0px 25px;
}
/* line 100, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .icon-text-profile {
  width: 35px;
  height: 30px;
  float: left;
  margin: 15px 15px 10px;
}
/* line 106, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-image .text {
  color: #c9c9c9;
  font-weight: 700;
  line-height: 1.5;
  font-size: 17px;
  text-align: left;
  padding-left: 15px;
  clear: both;
  margin-bottom: 0px;
}
/* line 117, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info {
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  text-align: left;
}
/* line 123, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info h3 {
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
/* line 129, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info p {
  color: #656565;
  font-size: 14px;
  margin-top: 20px;
}
/* line 134, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .list-info {
  list-style: none;
  padding: 0px 20px;
  margin-top: 90px;
  border-bottom: 1px solid #d7d7d7;
  margin-left: -20px;
}
/* line 140, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .list-info li {
  display: inline-block;
  padding: 5px 0px;
  color: #343434;
  font-size: 14px;
  margin-right: 40px;
  position: relative;
  top: 1px;
  cursor: pointer;
}
/* line 149, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .list-info li button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: white;
  font-size: 8px;
  background-color: #666666;
  padding: 0px;
  border: 1px solid transparent;
  margin-left: 20px;
  margin-top: 2px;
  float: right;
}
/* line 162, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .list-info li.active, .acount-section .profile .profile-content .profile-info .list-info li:hover {
  color: #ffd101;
  border-bottom: 3px solid #ffd101;
}
/* line 167, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .list-info li:last-child {
  color: #c9c9c9;
}
/* line 172, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .info-content {
  clear: both;
  padding: 5px;
  display: none;
}
/* line 176, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .info-content .info-element {
  color: #656565;
  font-size: 14px;
  width: 50%;
  float: left;
  margin-top: 20px;
}
/* line 182, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .info-content .info-element img {
  float: left;
  width: 16px;
  margin-right: 20px;
  margin-top: -2px;
}
/* line 189, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .profile .profile-content .profile-info .info-content:first-of-type {
  display: block;
}
/* line 196, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea {
  list-style-type: none;
  width: 220px;
  position: absolute;
  top: 53px;
  right: 20px;
  padding: 0px;
}
/* line 203, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea li {
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  font-size: 15px;
}
/* line 209, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .title {
  padding: 10px;
  background-color: white;
}
/* line 212, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .title img {
  float: left;
  margin-right: 20px;
}
/* line 216, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .title h4 {
  color: #676767;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
/* line 223, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .close-idea {
  background-color: #333333;
  color: white;
}
/* line 227, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .idea {
  background-color: #f9f9f9;
  border-bottom: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
/* line 233, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .idea a h4 {
  color: #323232;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: -0.5px;
}
/* line 240, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .idea a:hover, .acount-section .your-idea .idea a:visited {
  text-decoration: none;
}
/* line 245, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .idea h5 {
  color: #7f7f7f;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
  letter-spacing: -0.5px;
}
/* line 253, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .btn-plus {
  height: 0px;
  padding: 0px;
  background-color: transparent;
}
/* line 257, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.acount-section .your-idea .btn-plus button {
  color: white;
  background-color: #ffcf01;
  border: 1px solid transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: -15px;
  right: -5px;
  float: right;
  outline: 0px;
}

@media screen and (max-width: 1024px) {
  /* line 281, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
  .acount-section .profile .profile-content .profile-image .icon-share button i {
    font-size: 8px !important;
  }
}
@media screen and (max-width: 968px) {
  /* line 293, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
  .acount-section {
    height: auto;
  }
  /* line 296, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
  .acount-section .profile .profile-content {
    height: auto;
  }
  /* line 298, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
  .acount-section .profile .profile-content .profile-image {
    height: auto;
    margin: auto;
    float: none;
  }
  /* line 303, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
  .acount-section .profile .profile-content .profile-info {
    padding-bottom: 20px;
    clear: both;
  }
  /* line 306, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
  .acount-section .profile .profile-content .profile-info .list-info {
    margin-top: 50px;
    margin-left: 0px;
    padding: 0px;
  }
}
@media screen and (max-width: 668px) {
  /* line 324, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
  .acount-section .profile .profile-content .profile-info .info-content .info-element {
    width: 100%;
  }
}
/* line 334, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.comments-button {
  background: #E4E4E4;
  color: #333;
  padding: 7px 0px;
  border-radius: 20px;
  text-align: center;
  width: 106px;
  text-transform: uppercase;
  font-size: 11px;
  color: #666;
}

/* line 346, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
i.img {
  margin-right: 20px;
}

/* line 351, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.raty-cancel {
  display: none;
}

/* line 355, /home/patrick/workspace/Ideaburn/app/assets/stylesheets/idea/custom.css.scss */
.disabled-rating {
  width: 200px;
  height: 50px;
  z-index: 10000;
  background: transparent;
  position: absolute;
  bottom: 0;
}
