<div id="order_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% parent_city ||= params[:parent_city] %>
  <% cities = CS.cities(parent_city, parent_region) %>
  <% if cities.nil? %>

  <% else %>
    <%= text_field(:user, :city) %>
  <% end %>
</div>
