#page-wrapper
  .switches
    .col-4
      .col-md-9.p0
        .col-md-6.col-xs-12
          h3.c-font-17 style="line-height:2;"  DASHBOARD
        .col-md-3.col-xs-12.p0
          form#searchform2
            .fieldcontainers
              #dd.wrapper-dropdown-3 tabindex="1"
                select#state1 style=("display: none;")
                  option value=""
                  option value="AL"  Alabama
                  option value="AK"  Alaska
                  option value="AZ"  Arizona
                  option value="AR"  Arkansas
                  option value="CA"  California
                  option value="CO"  Colorado
                  option value="CT"  Connecticut
                  option value="DE"  Delaware
                  option value="DC"  District Of Columbia
                  option value="FL"  Florida
                  option value="GA"  Georgia
                  option value="HI"  Hawaii
                  option value="ID"  Idaho
                  option value="IL"  Illinois
                  option value="IN"  Indiana
                  option value="IA"  Iowa
                  option value="KS"  Kansas
                  option value="KY"  Kentucky
                  option value="LA"  Louisiana
                  option value="ME"  Maine
                  option value="MD"  Maryland
                  option value="MA"  Massachusetts
                  option value="MI"  Michigan
                  option value="MN"  Minnesota
                  option value="MS"  Mississippi
                  option value="MO"  Missouri
                  option value="MT"  Montana
                  option value="NE"  Nebraska
                  option value="NV"  Nevada
                  option value="NH"  New Hampshire
                  option value="NJ"  New Jersey
                  option value="NM"  New Mexico
                  option value="NY"  New York
                  option value="NC"  North Carolina
                  option value="ND"  North Dakota
                  option value="OH"  Ohio
                  option value="OK"  Oklahoma
                  option value="OR"  Oregon
                  option value="PA"  Pennsylvania
                  option value="RI"  Rhode Island
                  option value="SC"  South Carolina
                  option value="SD"  South Dakota
                  option value="TN"  Tennessee
                  option value="TX"  Texas
                  option value="UT"  Utah
                  option value="VT"  Vermont
                  option value="VA"  Virginia
                  option value="WA"  Washington
                  option value="WV"  West Virginia
                  option value="WI"  Wisconsin
                  option value="WY"  Wyoming
                span.ui-combobox
                  span.ui-helper-hidden-accessible aria-live="polite" role="status"
                  input.ui-widget.ui-widget-content.ui-corner-left.ui-combobox-input.ui-autocomplete-input autocomplete="off" /
                  button.ui-corner-right.ui-button-icon.ui-combobox-button tabindex="-1" type="button"
                ul#ui-id-1.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all style=("display: none;") tabindex="0"
                /!
                  | <span>Select Industry..</span
                  | <ul class="dropdown"
                  | <li><a href="#"><i class="icon-envelope icon-large"></i>Industry 1</a></li
                  | <li><a href="#"><i class="icon-truck icon-large"></i>Industry 2</a></li
                  | <li><a href="#"><i class="icon-plane icon-large"></i>Industry 3</a></li
                  | <li><a href="#"><i class="icon-envelope icon-large"></i>Industry 4</a></li
                  | <li><a href="#"><i class="icon-truck icon-large"></i>Industry 5</a></li
                  | <li><a href="#"><i class="icon-plane icon-large"></i>Industry 6</a></li
                  | <li><a href="#"><i class="icon-envelope icon-large"></i>Industry 7</a></li
                  | <li><a href="#"><i class="icon-truck icon-large"></i>Industry 8</a></li
                  | <li><a href="#"><i class="icon-plane icon-large"></i>Industry 1</a></li
                  | <li><a href="#"><i class="icon-envelope icon-large"></i>Industry 2</a></li
                  | <li><a href="#"><i class="icon-truck icon-large"></i>Industry 3</a></li
                  | <li><a href="#"><i class="icon-plane icon-large"></i>Industry 4</a></li
                  | </ul
              /! <input type="submit" value="" id="icon-search" name="searchbtn"
        /! SIXTH EXAMPLE
        .col-md-3.col-xs-12.p0
          form#searchform2
            .fieldcontainers
              #dd.wrapper-dropdown-3 tabindex="1"
                select#state1 style=("display: none;")
                  option value=""
                  option value="AL"  Industry1
                  option value="AK"  Industry2
                  option value="AZ"  Industry3
                  option value="AR"  Industry4
                  option value="CA"  Industry5
                span.ui-combobox
                  span.ui-helper-hidden-accessible aria-live="polite" role="status"
                  input.ui-widget.ui-widget-content.ui-corner-left.ui-combobox-input.ui-autocomplete-input autocomplete="off" /
                  button.ui-corner-right.ui-button-icon.ui-combobox-button tabindex="-1" type="button"
                ul#ui-id-2.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all style=("display: none;") tabindex="0"
              /! <input type="submit" value="" id="icon-search" name="searchbtn"
        .clear
        - @ideas.each do |idea|
          .col-md-6.mb30
            .switch-right-grid
              .switch-right-grid1
                .col-md-12.activity-rows
                  .col-xs-3
                    = image_tag asset_path(idea.user.avatar), class: 'img-responsive img-circle'
                  .col-xs-9.activity-desc.pl0
                    h5
                      = link_to idea.user.username, '#'
                    p = idea.category.name
                  .clearfix
                .col-md-12.bg-white.p0
                  p.col-md-6.text-left
                    = image_tag asset_path('location-icon-grey.png'), style: 'vertical-align:top;'
                    = idea.user.country
                  p.col-md-6.text-right
                    = image_tag asset_path('submitdate-icon.png'), style: 'vertical-align:top;'
                    = idea.created_at.strftime('%B %d, %Y')
                .col-md-12.switch-right-grid-desc
                  h3 = idea.title
                  p = idea.description.truncate(300)
                  p
                    = link_to 'Read More', user_idea_path(idea), class: 'readmore'
                .col-md-12.comment
                  .col-md-7.col-xs-12.p-left
                    .col-md-4.col-xs-3
                      center
                        = image_tag asset_path('Views-Icon-small.png')
                        br/
                        span = idea.views
                    .col-md-4.col-xs-4
                      center
                        = image_tag asset_path('Like-icons-small.png')
                        br/
                        span 15000
                    .col-md-4.col-xs-3
                      center
                        = image_tag asset_path('comments-icons-small.png')
                        br/
                        span 2190
                    .clear
                  .col-md-5
                    .star
                      = image_tag asset_path('star-icon.png')
                      = image_tag asset_path('star-icon.png')
                      = image_tag asset_path('star-icon.png')
                      = image_tag asset_path('star-icon.png')
                      = image_tag asset_path('star-icon-grey.png')
                    .clear
      = render 'closed_idea'
