<div id="page-wrapper">

  <div class="switches">
    <div class="col-4">

      <div class="col-md-9 p0">
        <div class="col-md-6 col-xs-12">  <h3 class="c-font-17" style="line-height:2;">&nbsp;</h3></div>




        <div class="clear"></div>



        <div class="col-md-12 mb30 ">
          <aside>
            <div class="col-md-4 p0 ">
              <div class="switch-right-grid  ">
                <div class="switch-right-grid1 " style="background-color: #f9f9f9">
                  <div class="col-md-12 idea-left">

                    <h3>LOREM IPSUM TIPS</h3>
                  </div>
                  <div class="clearfix"> </div>
                  <div class="idea-height " tabindex="5001" style="overflow: hidden; outline: none;">
                    <input type="checkbox" class="read-more-state" id="post-2">
                    <ul class="read-more-wrap">
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                      <li class="read-more-target">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                      <li class="read-more-target">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                      <li class="read-more-target">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    </ul>

                    <label for="post-2" class="read-more-trigger"></label>

                  </div>
                  <hr class="idea-border">
                </div>

              </div>

              <div align="center" class="idea-margin"><img src="images/open-idea.png" class="img-resposive center"></div>
            </div>

          </aside>

          <div class="mid-content col-md-8 " style="background-color: #fff">

            <div class="">
            <%= render 'form' %>
              <!-- Third row ends here -->
              <!--<div class="col-md-12"><span class="viewmore"><br><br><br></span></div>-->


            </div></div></div></div>

            <div class="col-md-3"><div class="totalviews"><img src="images/Totalviews-icon.png"><span>Total Views</span> 99,999</div></div>
            <div class="col-md-3 pl0">
              <div class="post-idea">
                <div class="col-xs-3 activity-img"><img src="images/Postyouridea-icon-black.png" class="img-responsive" alt=""></div>
                <div class="col-xs-9 pl0 activity-desc">
                <h5 class="mt7"><a href="#">POST YOUR IDEA</a></h5>

              </div>

              <div class="clearfix"> </div>
            </div>
            <div class="switch-right-grid">
              <div class="switch-right-grid1">
                <div class="col-md-12 close-idea">

                  <div class="col-xs-12 activity-desc">
                    <p><a href="#">Closed Ideas</a></p>

                  </div>


                </div>
                <div class="clearfix"> </div>
                <div class="idea_no"><h1> Idea 1 Name</h1>
                  <p>Description about that...</p>
                </div>
                <div class="idea_no"><h1> Idea 1 Name</h1>
                  <p>Description about that...</p>
                </div>
                <div class="idea_no"><h1> Idea 1 Name</h1>
                  <p>Description about that...</p>
                </div>
                <div class="idea_no"><h1> Idea 1 Name</h1>
                  <p>Description about that...</p>
                </div>
                <div class="idea_no"><h1> Idea 1 Name</h1>
                  <p>Description about that...</p>
                </div>
                <div class="idea_no"><h1> Idea 1 Name</h1>
                  <p>Description about that...</p>
                </div>
                <div class="idea_no"><h1> Idea 1 Name</h1>
                  <p>Description about that...</p>
                </div>


              </div>
            </div>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>


    <script>
     window.onload = function () {

       jQuery(document).ready(function ($) {



         $('.container7').nsHover({
           bgcolor: '#000',
           bganim: 'fade'
         });



       });
     }

   </script>
   <script type="text/javascript">

     function DropDown(el) {
      this.dd = el;
      this.placeholder = this.dd.children('span');
      this.opts = this.dd.find('ul.dropdown > li');
      this.val = '';
      this.index = -1;
      this.initEvents();
    }
    DropDown.prototype = {
      initEvents : function() {
       var obj = this;

       obj.dd.on('click', function(event){
        $(this).toggleClass('active');
        return false;
      });

      obj.opts.on('click',function(){
        var opt = $(this);
        obj.val = opt.text();
        obj.index = opt.index();
        obj.placeholder.text(obj.val);
      });
    },
    getValue : function() {
     return this.val;
   },
   getIndex : function() {
     return this.index;
   }
 }

 $(function() {

  var dd = new DropDown( $('#dd') );

  $(document).click(function() {
    // all dropdowns
    $('.wrapper-dropdown-3').removeClass('active');
  });

});

</script>
