#page-wrapper
  .switches
    .col-4
      .col-md-9.p0
        .col-md-6.col-xs-12
          h3.c-font-17 style="line-height:2;"  IDEA DETAILS
        /!
          | <div class="col-md-6 col-xs-12"><form id="searchform2"><div class="fieldcontainers"><input type="text" class="search-industry"  placeholder="Search By Industry" /
          | <input type="submit" value="" id="icon-search" name="searchbtn"> </div
          | </form></div
        .clear
        .col-md-12.mb30
          .switch-right-grid
            .switch-right-grid1
              .col-md-12.activity-rows1
                .col-xs-3.activity-img.activity-image1
                  = image_tag asset_path(@idea.user.avatar), class: 'img-resposive img-circle'
                .col-xs-9.activity-desc
                  .col-md-4.plr0
                    h5.mt0
                      a href="#"  John Doen
                    p
                      span
                        = image_tag asset_path('location-icon.png')
                      | New Yark City, USA.
                    p
                      span
                        = image_tag asset_path('posted-icon.png')
                      | Posted on:30-12-15
                  .col-md-3.rating
                    br/
                    .rating_star
                      i.fa.fa-star
                    .rating_content.c-font-12
                      span.t_rate 6.7
                      span | /10
                      br/
                      br/
                      span 216,487
                  .col-md-5.col-xs-12
                    br/
                    .stars
                      span.rating Rate This
                      input.rating#input-21d value="2" type="number" min=0 max=5 step=0.5 data-size="sm"
                .clearfix
              .clearfix
              .idea-details
                .col-md-12
                  p style="color:#ccc;"
                    span.idea-type> Idea Type: Automobile
                    | \
                    span.idea-category Idea Category: Lorem Ipsum
                .col-md-8
                  h3 = @idea.title
                  = @idea.description
                .col-md-4.mt25
                  div style=("border-left:1px solid #dcdcdc;padding-left:15px;")
                    center
                      .c100.p55.small
                        span 55%
                        .slice
                          .bar
                          .fill
                    = image_tag asset_path('IdeaDetails-img.jpg'), class: 'img-responsive', style: 'width:100%'
                .clearfix
                .comments.mt25
                  .col-md-9.plr0
                    .col-md-3.plr0
                      .comments-button Comments
                    .col-md-9.plr0 style="font-size:12px;line-height:35px;"
                      span style="color:#78C2E9;cursor:pointer;"  Hilton Mayor
                      | and 57 others likes this
                  .col-md-3
                    .col-sm-4.col-xs-3
                      center
                        i.fa.fa-eye
                        br/
                        span.c-font-13 9,999
                    .col-sm-4.col-xs-3 style="cursor:pointer;"
                      center
                        i.fa.fa-thumbs-o-up
                        br/
                        span.c-font-12 15000
                    .col-sm-4.col-xs-3
                      center
                        i.fa.fa-comments-o
                        br/
                        span.c-font-12 2190
                  .clear
                .comment-details
                  .col-lg-8.plr0
                    .col-md-12
                      .col-sm-1.col-xs-2.pl0
                        = image_tag asset_path('Commets-Profile-img.png')
                      .col-sm-10.mb15.col-xs-10
                        div style=("border-bottom:1px solid #ccc;")
                          p.c-font-18.mb5
                            span9 Hilton Mayor
                            span10.cedit
                              a href=""
                                i.fa.fa-pencil
                          input.form-control.search-text placeholder=("It's great Concept.Super..cool") type="text" /
                          p
                            span
                              a href=""  Like
                            span.reply style="color:#78C2E9;cursor:pointer;"  Reply
                            span About an hour ago
                          .clearfix
                        .col-md-12.mt20.plr0.search_industry
                          .col-sm-1.col-xs-2.pl0
                            = image_tag asset_path('Commets-Profile-img.png')
                          .col-sm-11.col-xs-10.pr0
                            .form-group
                              input.form-control.search-text placeholder=("Write a comment") type="text" /
                              input.icon-cam name="searchbtn" type="submit" value="" /
                              input.icon-smiley name="searchbtn" type="submit" value="" /
                              .clearfix
                    .col-md-12
                    .clearfix
                  .col-lg-4
                    .col-md-12.mtres20
                      p
                        span9 More from John Doe
                    .col-md-6.text-center.mb15
                      = image_tag asset_path('thumbs-img1.jpg')
                    .col-md-6.text-center.mb15
                      = image_tag asset_path('thumbs-img2.jpg')
                    .col-md-6.text-center.mb15
                      = image_tag asset_path('thumbs-img3.jpg')
                    .col-md-6.text-center.mb15
                      = image_tag asset_path('thumbs-img4.jpg')
                    .col-md-12
                      .border
                    .col-md-12
                      p
                        span9 Tags
                    .col-md-2.col-xs-4 Link1
                    .col-md-2.col-xs-4 Link1
                    .col-md-2.col-xs-4 Link1
                  .clearfix
        .col-md-12
          span.viewmore View More
      = render 'closed_idea'
