.nav-tabs > li {
  margin:60px 0px;
}
.input-lg {
  padding: 10px 10px 10px 40px;
  height:40px;
  background-color:#fff;
}

.dd {
  height:40px !important;
  color:#666;
}

.c-content-step-1 {
  padding-bottom:0px !important;
}
