/*
*= require_directory ./user
*= require font-awesome
*/

body {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

ul, li { list-style: none; }
.container { margin:0px auto; }
.timee {
    margin-right:10px;
}
.sub-but {
    margin-left:220px;
}
#my_file {
    display: none;
}
.update-p{ text-align: center; }

.left-side-collapsed #get_file {
    background:#F2F4F3;
    border: 0px solid #F2F4F3;
    padding: 0px;
    border-radius: 5px;
    margin: 0px;
    cursor: pointer;
    font-size:14px;
    text-align: center !important;
    padding: 10px;
}
#my_file1 {
    display: none;
}

#get_file {
    background:#F2F4F3;
    border: 0px solid #F2F4F3;
    padding: 0px;
    border-radius: 5px;
    margin: 0px;
    cursor: pointer;
    font-size:14px;
    text-align: center !important;
    padding: 10px;
}

.personal-details{
    background: #FFFFFF;
}

#startup-logo::-webkit-file-upload-button {
    visibility: hidden;
}
#startup-logo::before {
    content: 'Choose file';
    display: inline-block;

    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: normal;
    font-size: 10pt;
    vertical-align: middle;
}

#business_lines {
    height: 100px;
}
.left-side-collapsed {
    li#tbl1 {
      background: asset_url('SideNav-Icons-1.png') no-repeat 10px 9px;
      display:block;
    }
    li#tbl1.active {
      background: asset_url('SideNav-Icons-1-hover.png') no-repeat 25px 9px;
      display:block;
    }
}
ul.nav li a {
    span1 {
        padding-left: 3em;
    }
    span2 {
        padding-left: 1.8em;
    }
    span3, span4 {
        padding-left: 3.3em;
    }

}
