/*
*= require_directory ./user
*= require font-awesome
*/

body {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

ul,
li {
    list-style: none;
}

.container {
    margin: 0px auto;
}

.timee {
    margin-right: 10px;
}

.sub-but {
    margin-left: 220px;
}

#my_file {
    display: none;
}

.update-p {
    text-align: center;
}

.left-side-collapsed #get_file {
    background: #F2F4F3;
    border: 0px solid #F2F4F3;
    padding: 0px;
    border-radius: 5px;
    margin: 0px;
    cursor: pointer;
    font-size: 14px;
    text-align: center !important;
    padding: 10px;
}

#my_file1 {
    display: none;
}

#get_file {
    background: #F2F4F3;
    border: 0px solid #F2F4F3;
    padding: 0px;
    border-radius: 5px;
    margin: 0px;
    cursor: pointer;
    font-size: 14px;
    text-align: center !important;
    padding: 10px;
}

.personal-details {
    background: #FFFFFF;
}

//MY ACOUNT
.acount-section {
    width: 100%;
    padding: 20px 10px;
    height: 600px;
    position: relative;
    .acount-title {
        h2 {
            color: #333333;
            font-weight: 700;
            text-transform: uppercase;
            float: left;
            font-size: 17px;
            margin-top: 5px;
        }
        h3 {
            font-size: 13px;
            color: #c9c9c9;
            font-weight: 700;
            float: left;
            margin-left: 10px;
            margin-top: 5px;
        }
    }
    .profile {
        width: 100%;
        padding-right: 250px;
        .profile-content {
            width: 100%;
            background-color: white;
            border: 1px solid #d7d7d7;
            height: 510px;
            .profile-image {
                width: 250px;
                background-color: #f9f9f9;
                float: left;
                height: 100%;
                img {
                    width: 250px;
                    height: 220px;
                }
                .icon-share {
                    position: relative;
                    margin-top: 20px;
                    button {
                        float: left;
                    }
                    button {
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        border: 2px solid #c9c9c9;
                        color: #c9c9c9;
                        font-size: 8px;
                        background-color: transparent;
                        padding: 0px;
                    }
                    p {
                        text-align: center;
                        color: #c9c9c9;
                        font-size: 14px;
                        margin-right: 15px;
                    }
                    .left {
                        float: left;
                    }
                    .right {
                        width: 16px;
                        height: 16px;
                        float: right;
                        position: absolute;
                        top: 0;
                        right: 25px;
                        color: white;
                        background-color: #666666;
                        border: 1px solid transparent;
                        margin-top: 2px;
                    }
                    &.container-fluid {
                        padding: 0px 25px;
                    }
                }
                .icon-text-profile {
                    width: 35px;
                    height: 30px;
                    float: left;
                    margin: 15px 15px 10px;
                }
                .text {
                    color: #c9c9c9;
                    font-weight: 700;
                    line-height: 1.5;
                    font-size: 17px;
                    text-align: left;
                    padding-left: 15px;
                    clear: both;
                    margin-bottom: 0px;
                }
            }
            .profile-info {
                overflow: hidden;
                padding-left: 15px;
                padding-right: 15px;
                text-align: left;
                h3 {
                    color: #333333;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                }
                p {
                    color: #656565;
                    font-size: 14px;
                    margin-top: 20px;
                }
                .list-info {
                    list-style: none;
                    padding: 0px 20px;
                    margin-top: 90px;
                    border-bottom: 1px solid #d7d7d7;
                    margin-left: -20px;
                    li {
                        display: inline-block;
                        padding: 5px 0px;
                        color: #343434;
                        font-size: 14px;
                        margin-right: 40px;
                        position: relative;
                        top: 1px;
                        cursor: pointer;
                        button {
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            color: white;
                            font-size: 8px;
                            background-color: #666666;
                            padding: 0px;
                            border: 1px solid transparent;
                            margin-left: 20px;
                            margin-top: 2px;
                            float: right;
                        }
                        &.active,
                        &:hover {
                            color: #ffd101;
                            border-bottom: 3px solid #ffd101;
                        }
                        &:last-child {
                            color: #c9c9c9;
                        }
                    }
                }
                .info-content {
                    clear: both;
                    padding: 5px;
                    display: none;
                    .info-element {
                        color: #656565;
                        font-size: 14px;
                        width: 50%;
                        float: left;
                        margin-top: 20px;
                        img {
                            float: left;
                            width: 16px;
                            margin-right: 20px;
                            margin-top: -2px;
                        }
                    }
                    &:first-of-type {
                        display: block;
                    }
                }
            }
        }
    }
    .your-idea {
        list-style-type: none;
        width: 220px;
        position: absolute;
        top: 53px;
        right: 20px;
        padding: 0px;
        li {
            width: 100%;
            padding: 10px 20px;
            text-align: left;
            font-size: 15px;
        }
        .title {
            padding: 10px;
            background-color: white;
            img {
                float: left;
                margin-right: 20px;
            }
            h4 {
                color: #676767;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
            }
        }
        .close-idea {
            background-color: #333333;
            color: white;
        }
        .idea {
            background-color: #f9f9f9;
            border-bottom: 1px solid #d7d7d7;
            border-left: 1px solid #d7d7d7;
            border-right: 1px solid #d7d7d7;
            a {
                h4 {
                    color: #323232;
                    font-size: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    letter-spacing: -0.5px;
                }
                &:hover,
                &:visited {
                    text-decoration: none;
                }
            }
            h5 {
                color: #7f7f7f;
                font-size: 15px;
                margin-top: 5px;
                margin-bottom: 0px;
                letter-spacing: -0.5px;
            }
        }
        .btn-plus {
            height: 0px;
            padding: 0px;
            background-color: transparent;
            button {
                color: white;
                background-color: #ffcf01;
                border: 1px solid transparent;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                position: relative;
                top: -15px;
                right: -5px;
                float: right;
                outline: 0px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .acount-section {
        .profile {
            .profile-content {
                .profile-image {
                    .icon-share {
                        button {
                            i {
                                font-size: 8px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 968px) {
    .acount-section {
        height: auto;
        .profile {
            .profile-content {
                height: auto;
                .profile-image {
                    height: auto;
                    margin: auto;
                    float: none;
                }
                .profile-info {
                    padding-bottom: 20px;
                    clear: both;
                    .list-info {
                        margin-top: 50px;
                        margin-left: 0px;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 668px) {
    .acount-section {
        .profile {
            .profile-content {
                .profile-image {}
                .profile-info {
                    .info-content {
                        .info-element {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    #startup-logo::-webkit-file-upload-button {
        visibility: hidden;
    }
    #startup-logo::before {
        content: 'Choose file';
        display: inline-block;
        border: 1px solid #999;
        border-radius: 5px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: normal;
        font-size: 10pt;
        vertical-align: middle;
    }
    #business_lines {
        height: 100px;
    }
}

ul.nav li a {
    span1 {
        padding-left: 3em;
    }
    span2 {
        padding-left: 1.8em;
    }
    span3,
    span4 {
        padding-left: 3.3em;
    }
}

.type2 {
    display: none;
}

.sticky-header.left-side-collapsed {
    li#tbl1 {
        background: asset_url('SideNav-Icons-1.png') no-repeat 10px 9px !important;
        display: block;
    }
    li#tbl1:hover {
        background: asset_url('SideNav-Icons-1-hover.png') no-repeat 10px 9px !important;
        display: block;
    }
    li#tbl2.active {
        background: asset_url('SideNav-Icons-2-hover.png') no-repeat  10px 9px !important;
        display: block;
    }

}
.sticky-header {
    li#tbl1:hover {
        background: asset_url('SideNav-Icons-1-hover.png') no-repeat 25px 9px !important;
        display: block;
    }
}
