.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: '+';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: '-';
}

.read-more-trigger {
    background-color: #ffd100;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 30px;
    margin: 0;
    top: 45.5%;
    left: 45%;
}
