.tabsec li a {
  border: medium none !important;
  font-size: 15px;
  margin-bottom: -2px;
  padding: 5px 0;
}
.tabsec .active > a {
  border-bottom: 4px solid #333333!important;
}

.tabsec {
  max-width: 100%;
  border-bottom: 4px solid #DBDBDB !important;
  margin-bottom: 1em !important;
  padding-left: 10px !important;
}
.j-formsa .content {
  background: #f9fafe none repeat scroll 0 0;
  box-shadow: 0 0 0 !important;
  padding: 25px 25px 0;
}
.j-formsa h3 {
  font-size: 15px !important;
  font-weight: bold !important;
  color: #6B6B6D !important;
}
.j-formsa {
  box-shadow: none !important;
}
.nopad {
  padding: 0;
}
.change_picture img {
  max-height: 160px !important;
  width: 160px !important;
}
